.logout-button {
    margin-left: 70px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #333;
    background-color: #fed136;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #333;
}

.book-image {
    margin: 1px;
}

.disabled {
    opacity: 0.3;
}

.change-visibility-link {
    text-align: center;
    cursor: pointer;
}

.filter-label {
    margin-left: .5em;
    font-weight: normal;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
}